<h1>Hello User</h1>
<p>This is where we would take your data and sell it to the government.</p>
<form action="/sources" method="post">
<input type="text" name="source[]">
<p>Don't try filling out the form. It's a dead end.</p>
